[Desktop Entry]
Encoding=UTF-8
Name=Nudi Core
Comment=Nudi P2P Cryptocurrency
Comment[de]=Verbinde mit dem Nudi peer-to-peer Netzwerk
Comment[fr]=Nudi, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Nudi, eşten eşe kriptografik sanal para birimi
Exec=fsociety-qt %u
Terminal=false
Type=Application
Icon=fsociety128
MimeType=x-scheme-handler/fsociety;
Categories=Office;Finance;
